/* interactive logo */
@keyframes logrotate {
  2% {
    transform: rotate(5deg);
  }
  4% {
    transform: rotate(0deg);
  }
  6% {
    transform: rotate(-5deg);
  }
  8% {
    transform: rotate(0deg);
  10%
    transform: rotate(5deg);
  }
  12% {
    transform: rotate(0deg);
  }
  14% {
    transform: rotate(-5deg);
  }
  16% {
    transform: rotate(0deg);
  }
}

#bg {
  fill: transparent;
}
#logo {
  fill: transparent;
}
#pack {
  stroke: #ca3;
  stroke-width: 3;
  stroke-linecap: round;
}
#logo:hover{
  animation: logrotate 2s linear 1s infinite running;
  fill: #224;
}
