@media print {
  body {
    font-size: 14pt;
  }
  #mast,#footer,#footmenu {
    display: none;
  }
  @page {
    body {
      size: auto;
      margin: 1in;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
  img {
    page-break-inside: avoid;
  }
  .slideshow h3 {
    break-before: avoid;
  }
  .slideshow .detail {
    break-after: avoid;
  }

  .didactic ul {
    padding: 0 2em;
  }
  .didactic li ul li { 
    margin: 0.5em 0; 
  }
  .dicactic li {
    page-break-inside: avoid;
  }
  .didactic img {
    align: left;
    margin: 1em;  
  }
}
@media screen {
  body {
    margin: 0 2%;
    background: #000;;
    color: #ca3;
  }
  #mast {
    border-radius: 30px 30px 0 0;
    background: #172707;
    margin: 0   auto;
    text-align: center;
  }
  #masthead {
    font-size: 300%;
    padding: .5em;
  }
  #masthead a {
    color: #ca3;
}
  #footmenu {
    text-align: center;
  }
  #footer {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
  }
  #footer address{
    display: inline;
  }
  #footer address a {
    display: inline-block;
    margin: 0.3em 2em;
  }
  .menu {
    text-align: center;
    margin: 0 auto;
  }
  ul.menu {
    display: inline;
    margin: 0;
  }
  .menu li {
    display: inline-block;
    font-size: 110%;
    margin: 0 1em;
  }
  #content {
    padding: 1em;
    background: #2e1a07;
    border-radius: 0 0 30px 30px;
  }
  a {
    color: #d33;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
  }
  code {
    background: #224;
    border-radius: 3px;
  }
  .slideshow .detail {
    background:#3f2b18;
  }
  .slideshow.float {
    background:#3f2b18;
  }
}


h1 {
  font-size: 125%;
}
h2 {
  text-align: center;
}
h3 {
  font-size: 110%;
}
address {
  margin-bottom: 1em;
}
code {
  margin-left: 2em;
  width: 50%;
  display: block;
  padding: .5em;
  margin: 1em;
}
ul {
  padding: 0;
  padding-bottom: 1em;
}
ul li {
  padding: 0.2em 0;
}

.main {
  margin: 0 1em;  
}
.price {
  font-weight: bold;
}

.storyline {
  max-width: 70vw;
}
.storytime p {
  max-width: 40em;
  margin: auto;
  text-align: center;
}
.storytime img {
  align: center;
  margin: auto;
  max-width: 70vw;
  max-height: 60vh;
  margin: 1em auto;
  display: block;
  padding-top: .2em;
  padding-bottom: 2em;
}
.storytime img.squeezit {
  max-height: 50vh;
}
.storytime img::before {
  content "\a";
  white-space: pre;
}

.didactic {
  max-width: 40em;
  margin: auto;
  margin--bottom: 1em;
  font-size: 110%;
}
.didactic img {
  max-width: 90%;
  padding: 1em;
  align: center;
}
.didactic dt {
  font-weight: bold;
  margin: 0 1em;
}
.didactic dd {
  margin: 0;
  padding: 0 0 1em 2em;
}
.didactic ul {
  list-style-type: none;
  padding: 0.5em 1em;
}

.slideshow{
  font-weight: bold;
  text-align: center;
  align: center;
  padding-bottom: 1em;
  margin: 2%;
  display: block;
}
.slideshow .name {
  font-size: 115%;
  padding: 1em;
}
.slideshow .detail {
  margin: 0;
  display: inline-block;
  padding: 1% 1%;
}
.slideshow .photos {
  display: block;
  align: center;
}
.slideshow .caption {
  margin: auto;
  text-align: center;
  max-width: 60%;
}
.slideshow .pic{
  display: inline-block;
}
.slideshow img {
  display: inline-block;
  max-height: 50vh;
  max-width: 60vw;
  padding: 0.3em;
}
.slideshow.clear .detail {
  width:95%;
  padding: 1em;
}
.slideshow.clear img {
  max-height: 40vh;
}
.slideshow.float {
  padding: 1em 10vw;
}

