{% set title="Footnotes" %}
{% extends 'layout.html' %}
{% block main %}
<dl class="footnotes">

<dt>Old Shoe Resources</dt>
<dd><p>
  For period reproductions, I'm mostly working from "Stepping through 
  Time: Archaeological Footwear from Prehistoric Times until 1800", by 
  Olaf Goubitz.
</p></dd>

<dt>Towns,Trails,Treks,Tales</dt>
<dd><ul>
  <li>Santiam, Ore. to South Lake Tahoe, Cali. on the Pacific Crest 
Trail,
  <li>Denver to Leadville on the Colorado Trail, and 
  <li>Springer Mtn., Ga. to Bennington, VT on the Appalachan Trail. 
</ul></dd>

<dt>Leather Wax Recipe</dt>
<dd>
<p>
  Heat the leather pieces you wish to wax in a warm oven (around 
  180F)
</p><p>
  Take equal parts by weight beeswax and raw linseed oil. Heat them 
  together in a double-boiler, mixing occasionally until fully melted.  
  Add about 1/10 part by volume of turpentine to the hot mixture.
</p><p>
  Take the hot leather out of the oven one piece at a time and brush the 
  hot mixture into it until no more will absorb.  Replace the piece 
  in the oven and continue on to the next piece.  Repeat until no more 
</p>
</dd>
</dl>
{% endblock %}