{% 
set form = namespace(idx=0, action="replace") 
%}
{% 
macro begin(table, action="replace") %}
  <form method="POST">
  <input type="hidden" name="db" value="{{table.dbnam}}">
  <input type="hidden" name="action" value="{{action}}">
  {% set form.idx = 0 %}
  {% set form.action=action %}
{% endmacro 
%}
{% 
macro end() %}
  </form>
{% endmacro 
%}
{% 
macro cell(n,v,c) %}
  {% if 'hidden' in c.tags: %}
    <input type="hidden" name="{{n}}" value="{{v}}"/>
  {% else : %}
    <td>
    {% if 'edit' in c.tags: %}
      <input type="text" name="{{n}}" value="{{v}}"\>
    {% elif 'computed' in c.tags: %}
      {{v}}
    {% else : %}
      <input type="hidden" name="{{n}}" value="{{v}}"/>
      {{v}}
    {% endif %}
    </td>
  {% endif %}  
{% endmacro 
%}
{%
macro header(cols) %}
  <tr>
  {% for c in cols %}
    {%if 'hidden' not in c.tags :%}
        <th>{{c.name}}</th>
    {%endif%}    
  {% endfor %}
  </tr>

{% endmacro
%}
{% 
macro row(cols, row) %}
  <tr>
  {% for c in range(cols|length): %}
    {% set nam = "%i,%i"%(form.idx, c) %}
    {{ cell(nam, row[c], cols[c]) }}
  {% endfor %}
  </tr>
  {% set form.idx = form.idx + 1 %}
{% endmacro 
%}
{% 
macro dbtable (cols, rows) %}
<table class="db">
  {{ header(cols) }}
  {% for r in range(rows|length): %}
    {{ row(cols, rows[r]) }}
  {% endfor %}
</table>
{% endmacro %}

