{% set title=args['title'] %}
{% from 'macros.jinja' import showGallery %}
{% extends 'layout.html' %}
{% block js %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{static('gallery.css')}}">
{% endblock %}
{% block assets %}
<div id="overlay" class="hidden">
    <div class="photo">
        <img/>
        <span class="caption"></span>
    </div>
    <div class="nav">
        <span id="prev">&lt;&lt;Prev</span>
        <span id="close">X</span>
        <span id="next">Next&gt;&gt;</span>
    </div>
</div>
{% endblock %}
{% block main %}

<div id="gallerymain">
    {% if 'slug' in args: %}
        <p class="slug">{{args['slug']}}</p>
    {% endif %}
    <div class="gallery">
        {{showGallery(args['items'])}}
    </div>
</div>

{% endblock %}