{% from 'macros.jinja' import menus,static,showprod,image,footnote,showGallery %}
<!DOCTYPE html>
<html>
<head>
<title>Old Skool Trail Goods : {{title}}</title>
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/logo.css">
<link rel="stylesheet" href="/static/gallery.css">
<link rel="icon" href="/static/logo.svg">
{% block css %}{% endblock %}
{% block js %}{% endblock %}
</head>
<body>
{%block assets %}{% endblock%}
<div id="container">
<div id="mast">
  <div id="masthead">
    <svg id="mastlogo" viewBox="3 -3 86 99">>
      <use xlink:href="{{url_for('static', filename='logo.svg', 
          _external=True)}}#logo"/>
    </svg>
    <div id="mastlabel">
      <a href="{{url_for('index')}}">Old&nbsp;Skool Trail&nbsp;Goods</a>
    </div>
  </div>
  <div id="mastmenu">
    {{ menus() }}
    <hr/>
    <ul class="menu secondmenu">
      <li><a href="{{ url_for('news') }}">News</li>
      <li><a href="{{ url_for('gallery_list') }}">Photos</li>
      <li><a href="{{ url_for('weatherbot') }}">WeatherBot</a></li>
    </ul>
  </div>
</div>
<div id="content">
  <h2>{{title}}</h2>
  <div class="main">
  {% block main %} {% endblock %}
  </div>
</div>
<div id="footmenu">
  {{ menus() }}
</div>
<div id="footer">
  {% block footer %} 
  <address>
    <a href="email:info@oldscooltrailgoods.com">info@oldskooltrailgoods.com</a>
    <a href="tel:+19713364571">971-336-4571</a>
  </address>
  <div>&copy; 2023 Old Skool Trail Goods</div>
  {% endblock %}
</div>
</div>
</body>
</html>
