{% extends 'layout.html' %}
<h2>{% block shoetitle %} {% endblock %}</h2>
{% block main %}
{% block shoemain %}
{% endblock %}

{{ showprod(products, 'float') }}


</div>

<p>Photos and pricing are for some of the many design variations.
</p><p>
All of my shoes are custom made.  The first step in placing an order is 
to contact me and discuss the style and details of <b>your</b> shoes.
</p><p>
The second step is taking or having a <a href="{{ url_for('molding') }} 
">mold</a> taken of the feet that will be wearing the shoes.
</p><p>

</p>

{% endblock %}