{%set title="More Lessons from the Trail"%}
{% extends 'layout.html' %}
{% block main %}
<p>Herein is a list of failures, major and minor, that my prototype 
boots endured, and the changes I've made in my process as a result.

<dl class="didactic">

  <dt id="turnshoes">Lessons from Using Turnshoes as Hiking Boots</dt>
  <dd><ul class="flat">
    <li>Wet leather is very slippery on snow, ice, and wet rock,
    <li>The life of a leather sole on trail is less than 200 miles,
    <li>Turnshoes cannot easily be resoled,
    <li>I wanted less of a "barefoot" experience.  Ow.
  </ul><dd>

  <dt id="uppers">Uppers</dt>
  <dd> stiching abraded and broke on several occasions. The 
    leather at both heels split at around 2500 miles.  I've 
    switched to a heavier thread, moved the front seam back away from 
    the joint, and added a heel reinforcement.
  </dd>

  <dt id="lacing">Lacing</dt>
  <dd> The punched and reinforced holes that the laces run 
    through have almost all blown out at least once.  I'm setting the 
    holes further back from the edge and installing metal 
    eyelets.
  </dd>

  <dt id="insoles">Insoles</dt>
  <dd> The first and second solings were 3mm Vibram with no insole.  
    This allowed too much flex and too little protection at the joint: I 
    noticed some cracking of the insole there at 500 miles, and by 1000 
    miles the insole had split almost completely in two.  I replaced those 
    insoles and added a thermal cork midsole, and have had no problems. 
  </dd>
  <dt id="rightleft">Right v. Left</dt>
  <dd>I eventually applied 12 patches to the uppers of my boots: three 
    to the left and nine to the right.  Most of those patches on the right 
    boot were where the upper met the welt/insole.  It turns out that I 
    performed an unintentional experiment:  On the right boot the welt was 
    stitched in 3/8" from the edge of the insole, on the left it was 3/16".  
  </dd>

</dl>
{% endblock %}
