{% macro footnote(anch) %}
{{   url_for('footnotes', _anchor=anch) }}
{% endmacro %}
{% macro image(img, class="") %}
  <img class={{class}} src="{{ url_for('static', filename=img) }}"/>
{% endmacro %}
{% macro static(fn) %}
{{   url_for('static', filename=fn) }}
{% endmacro %}
{% macro menus() %}
  <ul class="menu">
    <li><a href="{{ url_for('welted') }}">Walking Boots</a></li>
    <li><a href="{{ url_for('turnshoes') }}">Turnshoes</a></li>
    <li><a href="{{ url_for('goods') }}">Leather Goods</a></li>
  </ul>
{% endmacro %}
{% macro showGallery(items) %}
  {% for item in items: %}
    {% if 'link' in item: %}
      <a href="{{item['link']}}">
    {% else %}
      <a href="{{ static(item['photo']) }}">
    {% endif %}
        <div class="photo">
          <img src="{{static(item['photo'])}}">
          <span class="caption">{{item['caption']}}</span>
        </div>
      </a>
    {% endfor %}
{% endmacro %}

}