{% set title="Shoe Patternmaking" %}
{% extends 'layout.html' %}
{% block main %}
<div class="didactic">
<p>
So you've taken a <a href="{{url_for('molding')}}">mold</a> of the 
foot, and you've drawn the design on the mold and cut out the pieces.  
Every shoe pattern has different challenges, but the following is how I 
transfer those shapes to paper and convert that into a paper pattern to 
use for cutting, stitching, and finishing.
</p><p>
Tools and materials:<ul>
    <li>Duct tape mold cut into pattern pieces,
    <li>Pencil,
    <li>Kraft paper: paper grocery bags are great, or you can buy a 
large roll at the hardware store (usually in the paint section),
    <li>Scissors,
  </ul>
</p>
<dl>


<dt>Flattening the tape pieces</dt>
<dd><p>Most of the flattening of the three-dimensional mold onto 2d  
paper happens while cutting up the mold -- you'll end up with 2-4 
mostly flat pieces for the upper and a flat sole.  Smaller bumps and 
curves can just be pressed out and the leather will stretch out in the 
finished shoe. 
</p><p>
The only location that usually needs special attention is around the big 
toe.  The curve there is sharp enough that just pressing it would 
remove too much material from the pattern, and would flatten the entire 
toe box of the shoe.
</p><p>
So we add some relief cuts.  These are short cuts, 1/4 to 1/3 inch,
made perpendicular to the edge of the tape into the bump.  This lets the 
tape spread out when it's pressed, adding material back to the 
pattern that the flattening has removed.
</p><p>
I usually make 2-3 cuts around the big toe. Start with one or two 
short cuts, and try to flatten the bump.  You should see the cuts open 
up as you press down on the bump.  Adjust the depth of the cuts or add 
more until the piece lays almost but not quite flat.  
</p></dd>

<dt>Transfer the mold sections to paper</dt>
<dd><p>
Lay each piece on the paper, leaving a 1 inch margin, and carefully 
press it flat.  Take care that as you're pressing, any bumps are pressed 
out equally in all directions (that is, make sure you push the bumps 
straight down).  Trace the outline of the piece, working carefully to 
keep the piece from bending or slipping.
</p><p>
Before lifting up the piece, transfer any registration marks to the 
paper, continuing the line of the mark straight onto paper outside of 
the tracing. 
</p><p>
Lift the piece one edge at a time, making sure that the tracing is 
complete all around.  Transfer any registration marks inside the 
tracing.
</p></dd>

<dt>Set the pieces of the mold aside</dt>
<dd></dd>

<dt>Smoothing</dt>
<dd><p>Your tracing will be wobbly.  Smooth the outline of the tracing.

<dt>Seam allowances</dt>
<dd><p>On each pattern piece, determine the appropriate seam allowance 
for each edge and mark the amount on the pattern piece.
</p><p>

(to be continued...)

<dt>Heel Adjustment</dt>

<dt>Overlap</dt>

<dt>Stitching Marks</dt>
<dd>
</dl>
</div>
{% endblock %}