{% set title="Pricing Calculator" %}
{% extends 'layout.html' %}
{% block css %}
table {
  margin: auto  
  display: inline;
  padding: 1em;
td {
  width: 20%;
}
input {
  width: 4em;
}
{% endblock %}
{% block js %}

{% endblock %}
{% block main %}

{% import 'form_macros.html' as form %}

<h4>Components</h4>
{{ form.begin(components) }}
{{ form.dbtable(components.cols, components.rows) }}
<input type=submit name="{{components.dbnam}}" value="Update Components">
{{ form.end() }}
<hr/>

<h4>Products</h4>
{{ form.begin(pricing) }}
{% for pnam, rows in pricing.groupByProduct().items() %}
  <h4>{{pnam}}: {{pricing.total(rows)}}</h4>
  {{ form.dbtable(pricing.cols, rows) }}
  <input type=submit name="{{pricing.dbnam}}" value="Update Products">
{% endfor %}
{{ form.end() }}
<hr/>

{% endblock %}