{% extends 'layout.html' %}
{% block title %} Leather Wax {% endblock %}
{% block main %} 

<h2>Leather Wax Recipe</h2>

<div class="section">
<p>Heat the leather pieces you wish to wax in a warm oven (around 
180F)
</p><p>
Take equal parts by weight beeswax and raw linseed oil. Heat them 
together in a double-boiler, mixing occasionally until fully melted.  
Add about 1/10 part by volume of turpentine to the hot mixture.
</p><p>
Take the hot leather out of the oven one piece at a time and brush the 
hot mixture into it until no more will absorb.  Replace the piece 
in the oven and continue on to the next piece.  Repeat until no more wax 
will absorb into the hot leather.
</p>
</div>

{% endblock %}