{% set title="Care and Feeding for New Shoes" %}
{% extends "layout.html" %}
{% block main %}

<dl class="didactic">
<dt>Breaking in Your Shoes</dt>
<dd>
<p>
Warm your shoes up.  Put them in a sunny window or next to the heat for 
a few minutes.  This will help soften up the waxed vegtan and help it 
stretch in.
</p><p>
Put your shoes on.  The toes of the shoes will likely feel tight on the 
tops of the toes; this is normal.  The rest of the shoe should fit 
snugly but comfortably, and there should be some room in front of your 
toes. You might notice other spots that rub or poke a little bit; this 
is also normal.
</p><p>
Make sure the tounge is pulled up and straight; pull the laces snug and 
tie them.  Walk around the house for a bit, or just keep them warm on 
your feet for a while. Pay attention to where and how much the shoes 
pinch or rub, and take them off when they get too annoying.
</p><p>
Work a thin coat of light oil into the uppers, focusing on the areas 
where the shoes are uncomfortable. Neatsfoot oil works well for this; so 
does coconut oil.
</p><p>
Repeat this process often; the only limit on how quickly and far you can 
use them is your feet.
</p><p>
</dd>

<dt>Scheduled Maintenance</dt>
<dd>
<p>Your new shoes have a fresh application of my <a 
href="{{url_for('footnotes', _anchor='recipe')}}"> hot wax 
treatment</a> on their leather uppers, and you're working oil in  
as part of the break-in process.  This protective coating is essential for 
the long life of your shoes.  Without it, the leather will weaken, crack 
and split.
</p><p>
You should work oil into the at least every month.  If the leather 
seems "thirsty", work more oil in.  If you're using your shoes a lot or 
in wet conditions, you'll need to oil them more often. 
</p><p>
What kind of oil? Any oil will do the work of preserving the leather. 
Light oil (neatsfoot, olive, coconut) are easy to apply cold.  Thicker 
oils and waxes (linseed, beeswax) will stay in the leather longer, but 
need to be warmed up and applied to hot leather for best results.
</p><p>
If you're sending a pair of shoes back to me to be resoled, I will also 
do a hot wax treatment before I send them back.
</p>
</dd>

<dt>Field Repair</dt><dd>
<p>With enough miles or bad luck, your shoes are going to start coming 
apart.  The sooner you notice this and take appropriate action, the 
easier it is to fix.  Your shoes come with a repair kit 
including:<ul>
  <li> 2  harness needles</li>
  <li> a length of thread</li>
  <li> a small tube of Shoo Goo</li>
</ul>

<p>Things to look for:<ul>

<li>
Soles: the rubber outsoles of your shoes are glued and stitched to 
the body of your shoes.  This glue can delaminate, and the stitches can 
break: then the sole starts flopping and catching on things.  So: check 
the edges of the sole occasionally for any signs of separation, 
especially at the heel and toe. For small areas, apply a bit of Shoe Goo 
and let it dry overnight. Cobblers can help with larger repairs, and 
I'll make any repairs free of charge if you ship them to me.
</li><li>
Resoling: at some point, there just won't be any tread left. The toe, 
ball, and heel tend to wear the fastest.  Depending on the type and 
thickness of the sole, I've gotten 500-800 miles from a pair of soles. 
A competent cobbler or shoe repair store can put on a new pair of soles, 
as can I. Your first resoling with me is included with your new shoes.
</li><li>
Uppers: with abrasion and wear, the stitching holding the uppers 
together can break.  Usually, the broken section can just be 
re-stitched.  Your repair kit includes needles and thread for this. A 
cobbler or a handy friend can also help here.
</li><li>
Splitting: the uppers leather can cracking or split  Unrepaired 
stitching 
can lead to the splitting; cracking can come from insufficient oil/wax 
being kept wet.  Eventually, abrasion will create holes and splits.  
Field patching is possible but not recommended.  Prevention is my 
suggested  strategy:  check the stitching and keep up with lubrication. 
Repair questionable areas at resoling time.
</li><li>
Insole: This is a heavy piece of leather that acts as the backbone of 
the shoe.  There are heavy stitches holding it to the upper and the 
welt (the strip of leather running along the edge of your shoe, which 
the rubber sole is sewn to).  Any split seams or cracked leather here is 
a very serious problem, and is likely to get much worse very fast if you 
keep using them.
</dd>

<dt>A Note On Cobblers</dt><dd>
<p>I've found cobblers and shoe repair stores in towns and cities of all 
size.  Any competent one will be able to fix and resole your shoes, and 
their prices are usually quite reasonable.
</p><p>
Of course, I will repair any shoe that I've made, and if the problem is 
my fault, I will do it free of charge. 
</p><p>
</dd>
</dl>
{% endblock %}