{% extends 'layout.html' %}
{% block title %}WeatherBot{% endblock %}
{% block main %} 

<h2> WeatherBot </h2>

<p>Because I'm Old Skool, I hike with a flip phone.  Super-rugged, 
insane battery life, but by halfway through North Carolina I was sick of 
asking other hikers what the weather was coming up.  Visiting my brother 
for a week outside of Front Royal, I hacked together WeatherBot.  
Weatherbot a links the ATC's list of shelter locations with forecasts 
from the National Weather Service, and made it available via SMS</p>

<p>You can text WeatherBot at:

<address><a href="tel:+16815401024">681-540-1024</a></address>

<p>Start your message with 'wx', then a space, then the location you 
want a report for.  WeatherBot understands AT shelter names, ZIP codes, 
and latitude and longitude pairs.  Like this:

<code>wx Low Gap</code>
<code>wx 17020</code>
<code>wx 38.9413 -78.1911</code>

WeatherBot will get back to you,  usually within a minute, with a 3-day 
forecast including high and low temp., precipitation, and winds.

</p>

<p><span class="impo">N.B:</span>Twilio, the company that provides the 
phone number for this service, charges me a small fee for each text sent 
and received.  If you're using the service regularly, please consider a 
donation to keep it running.</p>

{% endblock %}