{% extends 'layout_shoes.html' %}
{% block title %} Turnshoes {% endblock %}
{% block shoetitle %} Turnshoes {% endblock %}
{% block shoemain %} 

<img class="head" src="{{ static('trailshoe.jpg') }}">

<p>
Turnshoes are an ancient method of shoe construction.  Examples dating 
back at least 1000 years in archeological digs in Europe. In this style, 
the uppers are sewn  inside out to a thick, single-piece sole, and the 
finished shoe is then "turned" rightside out, hence the name.  The 
result is lightweight, flexible, attractive, and extremely comfortable.  
</p><p>
They're well suited for use as house slippers, errands around town, 
or light hiking shoes.  They're also perfect for period re-enactments 
like SCA or Rennaisannce Faires.
</p><p>
Prices depend on the style and materials you choose for your shoes; most turnshoes cost about $300.
</p>

{% endblock %}