{% set title="Class Syllabus: Turnshoes" %}
{% extends 'layout.html' %}
{% block main %}
<div class="didactic">
<img src="{{ static('turnshoes_jpg.jpg') }}">

<p>
In this class you will make a pair of medieval turnshoes, measured 
and made to fit your feet and perfect for wearing in the house, around the 
yard, or in town.
</p><p>
I provide all tools and materials (listed in parentheses in each step 
below). I lead you through each step of the process, and provide 
one-on-one. While a fair amount of hand and wrist strength is needed to 
work with this leather, you don't need any previous experience.
</p><p>
Maximum class size is 8. Sessions are about 3 hours each.  Attendance at 
all sessions and some homework are required to finish on time.
</p><p>
I'll be teaching the "Carolingian" pattern (above), but for the 
adventurous and crafty, most of the turnshoe designs you see on this 
site are fair game.

<dl>
  <dt>Session 1</dt>
  <dd><ul>
    <li>Create a <a href="{{ url_for('molding') }}">model</a> of your 
        feet (cardboard, duct tape, nylon stocking, sharpies, 
        scissors)</li>
    </ul></dd>
  <dt>Session 2</dt>
  <dd><ul> 
    <li>Convert the model to a paper pattern (kraft paper, scissors, 
        xacto knife, ruler, hole punch, pens) </li>
  </ul></dd>

  <dt>Session 3</dt>
  <dd><ul>
    <li>Transfer pattern pieces to leather (paper pattern, pens)
	<li>Cut leather for uppers (6 oz. chrometan leather, leather shears
	<li>Cut leather for soles (9 oz. latigo leather, utility knife)
  </ul></dd>
  <dt>Session 4</dt>
  <dd><ul>
	<li>Prepare uppers for sewing (skife, ruler, pen, strap punch)
	<li>Stitch uppers (straight awl, needles, bonded polyester thread)
  </ul></dd>

  <dt>Homework: finish sewing uppers</dt>
  <dd></dd>

  <dt>Session 5</dt>
  <dd><ul>
	<li>Prepare soles for sewing (file, stitch groover, plough, ruler, 
        sharpie, curved awl)
   </ul></dd>
  <dt>Session 6</dt>
    <dd><ul>
	<li>Stitch uppers to soles (barge cement, machine stitching needle, 
        nyltex thread)
	<li>Turn shoes rightside out.
   </ul></dd>

  <dt>Session 7<dt>
  <dd><ul>
	<li>Hammer shoes into finished shape (hammer, anvil)
	<li>Cut and install ankle strap (ruler, utility knife, 6 oz. 
        chrometan leather)
    </ul></dd>
</dl>
</div>
{% endblock %}
