{% set title="Turnshoes" %}
{% extends 'layout_shoes.html' %}

{% block shoemain %} 
<p>
Turnshoes are an ancient method of shoe construction.  Examples date 
back at least <a href="{{url_for('footnotes')}}">1000 years</a> in 
archeological 
digs in Europe.  The "Carolingian" below is from that time period. 
</p><p>
In this style, 
the uppers are sewn  inside out to a thick, single-piece sole, and the 
finished shoe is then "turned" rightside out, hence the name.  The 
result is lightweight, flexible, attractive, and extremely comfortable.  
</p><p>
They're well suited for use as house slippers, for errands around town, 
or light hiking shoes.  

{% endblock %}