{% set title="Hiking Boots" %}
{% extends 'layout_shoes.html' %}

{% block shoemain %} 

<div class="didactic">
{{image('hybrid.jpg', class="tinyfloat")}}

<p>
In 2019, I took a week-long backpacking trip on the Pacific Crest Trail 
in Oregon, wearing turnshoes like these.

<p>
My hiking boots are built out of the <a 
href="{{url_for('lessons')}}">lessons</a> of that trip and of the
original prototypes that followed.  They keep the soft, 
comfortable feel of a turnshoe, but with much longer life and a 
more supportive sole.  
<p>
Features:

<ul>
  <li>All-around <a href="{{footnote('welted')}}">welted</a> 
    construction.
  <li><a href="{{footnote('zerodrop')}}">Zero drop</a> from heel to 
    toe.
  <li>Hand-stitched 6oz <a href="{{footnote('recipe')}}">hand-waxed</a> 
    vegtan leather uppers. 
  <li>13oz vegtan insole, 
  <li>EVA or cork midsole,
  <li>Non-skid Vibram outsole in a variety of thickness, density, and 
    tread pattern options.
  <li>Weight around 32oz/pair.
</ul>

<p>
Soles last between 500-800 miles, and can be replaced by me or by any 
competent cobbler.
</p>
</div>

{% endblock %}